
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Ionicons
@import '~ionicons/dist/scss/ionicons';

// Datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.page-content {
    background: #fff;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn i[class^="ion-"] {
    margin-right: 0.5rem;
}

.dataTables_length,
.dataTables_filter {
    padding: 1rem 1rem 0;
}

.dataTables_info,
.dataTables_paginate {
    padding: 0 1rem 1rem;
}

.voter-row-action {
    visibility: hidden;
}

#voters-table tbody tr:hover .voter-row-action {
    visibility: visible;
}
